
/* 
I leaned text alighnment from Youtube
Name: 
HTML & CSS for Absolute Beginners: Text alignment
link: https://www.youtube.com/watch?v=j4NcMQfYs64
*/

main {
    
    h4 {color:#851423}
    background: wheats;
    margin: 110px;
     
}

h4 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


p, ul {
  font-family: "Oldenburg", serif;
  font-weight: 400;
  font-style: normal;
  display: block;
  flex-direction: column;
  justify-content:center
}
h1 {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
/* text-indent = length of empty space Cr.mdn */
p {
  text-indent: 40px;
}

/* 
I learned how to place title in the center and add background video from YouTube. 
  "How To Add Video Background In Website Using HTML And CSS Step By Step Tutorial"
  link: https://www.youtube.com/watch?v=znqUwx0b0HI
*/
.headSetting {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 0 5%;
  display: flex;
  justify-content: center; /* center horizonto */
  align-items: center; /* center verticle */

}

.title {
  text-align: center;
}

.title h1 {
  font-size: 100px;
  color:rgb(117, 4, 83);
  font-weight: 600;

  /* Gemini is used, quote: In css, can I add shdow effect to h1? */
  text-shadow: 4px 4px 8px white;
}

/* Expolre link style + add boarder */
.title a {
  text-decoration: none;
  display: inline-block;
  color: white;
  font-size: 24px;
  border: 2px solid whitesmoke;
  padding: 14px 70px; /* 14 top and bottom, 70 left and right*/
  border-radius: 50px;
  margin-top: 20px;
}

.bgVideo {
  position: absolute;
  right: 45px;
  bottom: 10px;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  z-index: -1; /* push video to the back */
}

/* this target the whole document to scroll smothly */
html {
  scroll-behavior: smooth;
}

/* Fade in Animation
source 1: CodeWithSalar, "Text Fade in and Fade Out Using CSS Animation | CSS tips and tricks"
link: https://www.youtube.com/watch?v=jD_8FLePHZU

source 2: Kalman Web Design, "How to Create CSS Fade Animation with Keyframes | Step-by-step Tutorial"
link: https://www.youtube.com/watch?v=hEG_N-GLKFU


source 3: Gemini is used 
quote: "how to make css fade from nothing to full text then stay like that"
*/
 
 @keyframes fade-in{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }

}

.fadeIn {
/* apply fade animation*/
animation: fade-in 3s ease-in forwards; /* ease-in = fade slow in the beginning and fasr at the end, forward = freeze animation in the last frame */
 

}